@media (max-width: 375px) {
  // header
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%;

    .btn-menu {
      display: block;
      border: none;
      outline: none !important;
      margin-right: 20px;
    }

    #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: $black;
    }

    ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase;
    }

    .nav-link {
      color: $white;

      &:hover {
        color: $white;
        transform: translateY(-10px);
        transition: 0.5s;
      }
    }

    #headerBox {
      margin: 30% 0 0 0;
      width: 100%;
      height: 280px;

      h1 {
        font-size: 40px;
        width: 10%;
        margin-top: 5%;
      }
    }
  }
  // fim header

  // Main: sec1

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px;

    #imgDiv {
      position: static;

      img {
        width: 100%;
      }
    }

    #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0;

      h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%;
      }

      p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: $gray;
      }
    }
  }

  // Main: sec2
  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 100%;

    .cardsDiv {
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        margin-top: 4%;
        position: static;
        &:hover {
          transform: none;
        }

        .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%;
        }

        img {
          display: none;
        }
      }

      #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg");
      }

      #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg");
      }

      #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg");
      }

      #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg");
      }

      #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg");
      }

      #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
      }

      #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg");
      }

      #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg");
      }

      #cardEarth,
      #cardNight,
      #cardSoccer,
      #cardGrid,
      #cardAbove,
      #cardBoreails,
      #cardCuriosity,
      #cardFisheye {
        background-size: cover;
      }
    }
  }

  footer {
    height: 380px;
    margin-top: 10%;

    .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #logoFooter {
        margin: 35px 0 0 0;
      }

      #iconContainer {
        margin-top: 33px;

        a {
          margin-left: 10px;
          font-size: 18px;
          color: $white;
        }
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;

        a {
          margin-right: 35px;
          text-align: center;
        }
      }

      h4 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  // fim header
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%;

    .btn-menu {
      display: block;
      margin-right: 20px;
    }

    #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: $black;
    }

    ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase;
    }

    .nav-link {
      color: $white;

      &:hover {
        color: $white;
        transform: translateY(-10px);
        transition: 0.5s;
      }
    }

    #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px;

      h1 {
        font-size: 40px;
        width: 10%;
        margin-top: 5%;
      }
    }
  }
  // fim header

  // Main: sec1
  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px;

    #imgDiv {
      position: static;

      img {
        width: 100%;
      }
    }

    #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0;

      h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%;
      }

      p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: $gray;
      }
    }
  }

  // Main: sec2
  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1070px;
    width: 100%;

    .cardsDiv {
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        margin-top: 4%;
        position: static;
        &:hover {
          transform: none;
        }

        .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%;
        }

        img {
          display: none;
        }
      }

      #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg");
      }

      #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg");
      }

      #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg");
      }

      #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg");
      }

      #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg");
      }

      #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
      }

      #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg");
      }

      #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg");
      }

      #cardEarth,
      #cardNight,
      #cardSoccer,
      #cardGrid,
      #cardAbove,
      #cardBoreails,
      #cardCuriosity,
      #cardFisheye {
        background-size: cover;
      }
    }
  }

  footer {
    height: 380px;
    margin-top: 40%;

    .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #logoFooter {
        margin: 35px 0 0 0;
      }

      #iconContainer {
        margin-top: 33px;

        a {
          margin-left: 10px;
          font-size: 18px;
          color: $white;
        }
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;

        a {
          margin-right: 35px;
          text-align: center;
        }
      }

      h4 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 486px) {
  // header
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%;

    .btn-menu {
      display: block;
      margin-right: 20px;
    }

    #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: $black;
    }

    ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase;
    }

    .nav-link {
      color: $white;

      &:hover {
        color: $white;
        transform: translateY(-10px);
        transition: 0.5s;
      }
    }

    #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px;

      h1 {
        font-size: 42px;
        width: 10%;
        margin-top: 5%;
      }
    }
  }
  // fim header
  // Main: sec1
  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px;

    #imgDiv {
      position: static;

      img {
        width: 100%;
      }
    }

    #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0;

      h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%;
      }

      p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: $gray;
      }
    }
  }

  // Main: sec2
  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 100%;

    .cardsDiv {
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        margin-top: 4%;
        position: static;
        &:hover {
          transform: none;
        }

        .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%;
        }

        img {
          display: none;
        }
      }

      #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg");
      }

      #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg");
      }

      #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg");
      }

      #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg");
      }

      #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg");
      }

      #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
      }

      #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg");
      }

      #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg");
      }

      #cardEarth,
      #cardNight,
      #cardSoccer,
      #cardGrid,
      #cardAbove,
      #cardBoreails,
      #cardCuriosity,
      #cardFisheye {
        background-size: cover;
      }
    }
  }

  footer {
    height: 380px;
    margin-top: 10%;

    .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #logoFooter {
        margin: 35px 0 0 0;
      }

      #iconContainer {
        margin-top: 33px;

        a {
          margin-left: 10px;
          font-size: 18px;
          color: $white;
        }
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;

        a {
          margin-right: 35px;
          text-align: center;
        }
      }

      h4 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 486px) and (max-width: 550px) {
  // header
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%;

    .btn-menu {
      display: block;
      margin-right: 20px;
    }

    #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: $black;
    }

    ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase;
    }

    .nav-link {
      color: $white;

      &:hover {
        color: $white;
        transform: translateY(-10px);
        transition: 0.5s;
      }
    }

    #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px;

      h1 {
        font-size: 42px;
        width: 10%;
        margin-top: 5%;
      }
    }
  }
  // fim header

  // Main: sec1
  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px;

    #imgDiv {
      position: static;

      img {
        width: 100%;
      }
    }

    #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0;

      h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%;
      }

      p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: $gray;
      }
    }
  }

  // Main: sec2
  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1170px;
    width: 100%;

    .cardsDiv {
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        margin-top: 4%;
        position: static;
        &:hover {
          transform: none;
        }

        .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%;
        }

        img {
          display: none;
        }
      }

      #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg");
      }

      #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg");
      }

      #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg");
      }

      #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg");
      }

      #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg");
      }

      #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
      }

      #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg");
      }

      #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg");
      }

      #cardEarth,
      #cardNight,
      #cardSoccer,
      #cardGrid,
      #cardAbove,
      #cardBoreails,
      #cardCuriosity,
      #cardFisheye {
        background-size: cover;
      }
    }
  }

  footer {
    height: 380px;
    margin-top: 10%;

    .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #logoFooter {
        margin: 35px 0 0 0;
      }

      #iconContainer {
        margin-top: 33px;

        a {
          margin-left: 10px;
          font-size: 18px;
          color: $white;
        }
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;

        a {
          margin-right: 35px;
          text-align: center;
        }
      }

      h4 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 550px) and (max-width: 576px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%;

    .btn-menu {
      display: block;
      margin-right: 20px;
    }

    #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: $black;
    }

    ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase;
    }

    .nav-link {
      color: $white;

      &:hover {
        color: $white;
        transform: translateY(-10px);
        transition: 0.5s;
      }
    }

    #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px;

      h1 {
        font-size: 42px;
        width: 10%;
        margin-top: 5%;
      }
    }
  }
  // fim header

  // Main: sec1
  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px;

    #imgDiv {
      position: static;

      img {
        width: 100%;
      }
    }

    #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0;

      h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%;
      }

      p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: $gray;
      }
    }
  }

  // Main: sec2
  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1100px;
    width: 100%;
    margin-top: 40%;

    .cardsDiv {
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        margin-top: 4%;
        position: static;
        &:hover {
          transform: none;
        }

        .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%;
        }

        img {
          display: none;
        }
      }

      #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg");
      }

      #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg");
      }

      #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg");
      }

      #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg");
      }

      #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg");
      }

      #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
      }

      #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg");
      }

      #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg");
      }

      #cardEarth,
      #cardNight,
      #cardSoccer,
      #cardGrid,
      #cardAbove,
      #cardBoreails,
      #cardCuriosity,
      #cardFisheye {
        background-size: cover;
      }
    }
  }

  footer {
    height: 380px;
    margin-top: 25%;

    .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #logoFooter {
        margin: 35px 0 0 0;
      }

      #iconContainer {
        margin-top: 33px;

        a {
          margin-left: 10px;
          font-size: 18px;
          color: $white;
        }
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;

        a {
          margin-right: 35px;
          text-align: center;
        }
      }

      h4 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%;

    #logo {
      margin: 10px 0 0 10px;
    }

    .btn-menu {
      display: none;
    }

    #menu-navegacao {
      height: 20px;
      margin-top: 2%;
      background-color: transparent;
    }

    ul {
      margin: 0 0 0 auto;
      font-size: 14px;
      text-transform: none;
    }

    .nav-link {
      color: $white;

      &:hover {
        color: $white;
        transform: translateY(-10px);
        transition: 0.5s;
      }
    }

    #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px;

      h1 {
        font-size: 42px;
        width: 10%;
        margin-top: 5%;
      }
    }
  }
  // fim header

  // Main: sec1
  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 400px;

    #imgDiv {
      position: static;

      img {
        width: 90%;
      }
    }

    #titleDiv {
      position: static;
      width: 100%;
      margin: 0;

      h2 {
        text-transform: uppercase;
        font-size: 30px;
        margin: 10% 0 0 2%;
      }

      p {
        margin: 3% 0 0 3%;
        color: $gray;
      }
    }
  }

  // Main: sec2
  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1100px;
    width: 100%;

    .cardsDiv {
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        margin-top: 4%;
        position: static;
        &:hover {
          transform: none;
        }

        .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%;
        }

        img {
          display: none;
        }
      }

      #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg");
      }

      #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg");
      }

      #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg");
      }

      #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg");
      }

      #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg");
      }

      #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
      }

      #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg");
      }

      #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg");
      }

      #cardEarth,
      #cardNight,
      #cardSoccer,
      #cardGrid,
      #cardAbove,
      #cardBoreails,
      #cardCuriosity,
      #cardFisheye {
        background-size: cover;
      }
    }
  }

  footer {
    height: 380px;
    margin-top: 20%;

    .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #logoFooter {
        margin: 35px 0 0 0;
      }

      #iconContainer {
        margin-top: 33px;

        a {
          margin-left: 10px;
          font-size: 18px;
          color: $white;
        }
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;

        a {
          margin-right: 35px;
          text-align: center;
        }
      }

      h4 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  // Main: sec1
  #imgTextContainer {
    display: flex;
    margin-top: 0;
    height: 400px;

    #imgDiv {
      position: static;

      img {
        width: 100%;
      }
    }

    #titleDiv {
      position: static;
      width: 100%;
      margin: 0 0 0 3%;

      h2 {
        text-transform: uppercase;
        font-size: 35px;
        margin: 10% 0 0 2%;
      }

      p {
        margin: 3% 0 0 3%;
        color: $gray;
      }
    }
  }

  // Main: sec2
  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1100px;
    width: 100%;

    .cardsDiv {
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        margin-top: 4%;
        position: static;
        &:hover {
          transform: none;
        }

        .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%;
        }

        img {
          display: none;
        }
      }

      #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg");
      }

      #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg");
      }

      #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg");
      }

      #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg");
      }

      #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg");
      }

      #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
      }

      #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg");
      }

      #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg");
      }

      #cardEarth,
      #cardNight,
      #cardSoccer,
      #cardGrid,
      #cardAbove,
      #cardBoreails,
      #cardCuriosity,
      #cardFisheye {
        background-size: cover;
      }
    }
  }

  // footer
  footer{
    margin-top: 20%;
  }
}

@media (min-width: 991.98px) and(max-width: 1200px) {
  // Main: sec1
  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 400px;

    #imgDiv {
      position: static;

      img {
        width: 100%;
      }
    }

    #titleDiv {
      position: static;
      width: 100%;
      margin: 0 0 0 3%;

      h2 {
        text-transform: uppercase;
        font-size: 35px;
        margin: 10% 0 0 2%;
      }

      p {
        margin: 3% 0 0 3%;
        color: $gray;
      }
    }
  }

  // Main: sec 2
  .cardsDiv {
    height: 480px;
    .card {
      height: 400px;
      &:hover {
        transform: translateY(-12px);
      }

      .cardTitle {
        font-size: 25px;
        margin: 295px 0 0 5%;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  // Main: sec1
  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 600px;

    #imgDiv {
      img {
        width: 700px;
      }
    }

    #titleDiv {
      width: 550px;
      background-color: $white;
      margin: 12% 0 0 41%;
    }
  }

  // Main: sec 2
  .cardsDiv {
    height: 570px;
    .card {
      height: 480px;
      &:hover {
        transform: translateY(-13px);
      }

      .cardTitle {
        font-size: 32px;
        margin: 335px 0 0 5%;
      }
    }
  }
}
