* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh; }

header {
  height: 500px;
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }
  header nav {
    padding-top: 5%; }
  header #logo {
    margin: 10px 0 0 30px; }
  header .btn-menu {
    display: none; }
  header ul {
    margin-left: auto; }
  header .nav-link {
    color: #fff; }
  header #headerBox {
    border: solid 1px #fff;
    height: 170px;
    width: 370px;
    margin-top: 8%; }
    header #headerBox h1 {
      color: #fff;
      text-transform: uppercase;
      padding: 7px 0 0 10px; }

#imgTextContainer {
  display: flex;
  margin-top: 5%;
  height: 600px; }
  #imgTextContainer #imgDiv {
    position: absolute;
    z-index: 0; }
    #imgTextContainer #imgDiv img {
      width: 700px; }
  #imgTextContainer #titleDiv {
    position: absolute;
    z-index: 1;
    width: 620px;
    height: 400px;
    background-color: #fff;
    margin: 12% 0 0 36%; }
    #imgTextContainer #titleDiv h2 {
      text-transform: uppercase;
      font-size: 45px;
      font-weight: 300;
      margin: 10% 0 0 20%; }
    #imgTextContainer #titleDiv p {
      margin: 3% 0 0 20%;
      color: #808080; }

@media (max-width: 375px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      border: none;
      outline: none !important;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 0;
      width: 100%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 45px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; } }
@media (min-width: 375px) and (max-width: 425px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 45px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; } }
@media (min-width: 425px) and (max-width: 486px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 45px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; } }
@media (min-width: 486px) and (max-width: 550px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 45px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; } }
@media (min-width: 550px) and (max-width: 576px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 45px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header #logo {
      margin: 10px 0 0 10px; }
    header .btn-menu {
      display: none; }
    header #menu-navegacao {
      height: 20px;
      margin-top: 2%;
      background-color: transparent; }
    header ul {
      margin: 0 0 0 auto;
      font-size: 14px;
      text-transform: none; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 45px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 400px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 90%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        margin: 3% 0 0 3%;
        color: #808080; } }
@media (min-width: 767.98px) and (max-width: 991.98px) {
  #imgTextContainer {
    display: flex;
    margin-top: 0;
    height: 400px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 0 0 0 3%; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 35px;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        margin: 3% 0 0 3%;
        color: #808080; } }
@media (min-width: 991.98px) and (max-width: 1200px) {
  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 400px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 0 0 0 3%; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 35px;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        margin: 3% 0 0 3%;
        color: #808080; } }
@media (min-width: 1200px) and (max-width: 1439px) {
  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv img {
      width: 700px; }
    #imgTextContainer #titleDiv {
      width: 550px;
      background-color: #fff;
      margin: 12% 0 0 41%; } }

/*# sourceMappingURL=style.css.map */
