* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh; }

header {
  height: 500px;
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }
  header nav {
    padding-top: 5%; }
  header #logo {
    margin: 10px 0 0 30px; }
  header .btn-menu {
    display: none; }
  header ul {
    margin-left: auto; }
  header .nav-link {
    color: #fff; }
  header #headerBox {
    border: solid 1px #fff;
    height: 170px;
    width: 370px;
    margin-top: 8%; }
    header #headerBox h1 {
      color: #fff;
      text-transform: uppercase;
      padding: 7px 0 0 10px; }

#imgTextContainer {
  display: flex;
  margin-top: 5%;
  height: 600px; }
  #imgTextContainer #imgDiv {
    position: absolute;
    z-index: 0; }
    #imgTextContainer #imgDiv img {
      width: 700px; }
  #imgTextContainer #titleDiv {
    position: absolute;
    z-index: 1;
    width: 620px;
    height: 400px;
    background-color: #fff;
    margin: 12% 0 0 36%; }
    #imgTextContainer #titleDiv h2 {
      text-transform: uppercase;
      font-size: 45px;
      font-weight: 300;
      margin: 10% 0 0 20%; }
    #imgTextContainer #titleDiv p {
      margin: 3% 0 0 20%;
      color: #808080; }

#titleBtnDiv {
  display: flex;
  justify-content: space-between;
  height: 60px; }
  #titleBtnDiv a > button {
    width: 120px;
    height: 30px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 7px;
    background-color: #fff;
    border: solid 1px #000;
    cursor: pointer; }

.cardsDiv {
  display: flex;
  height: 570px;
  margin-top: 0;
  justify-content: space-between; }
  .cardsDiv [data-anime] {
    opacity: 0;
    transition: 0.3s; }
  .cardsDiv [data-anime="left"] {
    transform: translate3d(-50px, 0, 0); }
  .cardsDiv [data-anime="right"] {
    transform: translate3d(50px, 0, 0); }
  .cardsDiv [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px); }
  .cardsDiv .card {
    width: 18rem;
    height: 500px;
    cursor: pointer; }
    .cardsDiv .card:hover {
      transform: translateY(-25px);
      transition: 0.7s; }
    .cardsDiv .card .cardTitle {
      color: #fff;
      font-size: 38px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      z-index: 1;
      margin: 340px 0 0 5%; }
    .cardsDiv .card #cardEarth,
    .cardsDiv .card #cardNight,
    .cardsDiv .card #cardSoccer,
    .cardsDiv .card #cardGrid,
    .cardsDiv .card #cardAbove,
    .cardsDiv .card #cardBoreails,
    .cardsDiv .card #cardCuriosity,
    .cardsDiv .card #cardFisheye {
      position: absolute;
      z-index: 0; }

footer {
  background-color: #000;
  height: 180px; }
  footer .footerContainer {
    display: flex;
    justify-content: space-between; }
    footer .footerContainer #logoFooter {
      width: 200px;
      margin: 35px 0 0 30px; }
    footer .footerContainer #iconContainer {
      display: flex;
      justify-content: space-around;
      margin-top: 33px; }
      footer .footerContainer #iconContainer a {
        margin-right: 20px;
        font-size: 22px;
        color: #fff; }
    footer .footerContainer ul {
      display: flex;
      margin-top: 45px; }
      footer .footerContainer ul a {
        text-decoration: none;
        margin-right: 30px;
        color: #fff; }
        footer .footerContainer ul a li {
          list-style-type: none; }
    footer .footerContainer h4 {
      color: #808080;
      font-size: 17px;
      margin-top: 45px; }

@media (max-width: 375px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      border: none;
      outline: none !important;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 0;
      width: 100%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 40px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; }

  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 100%; }
    #titleCardDiv .cardsDiv {
      display: flex;
      flex-direction: column; }
      #titleCardDiv .cardsDiv .card {
        width: 100%;
        margin-top: 4%;
        position: static; }
        #titleCardDiv .cardsDiv .card:hover {
          transform: none; }
        #titleCardDiv .cardsDiv .card .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%; }
        #titleCardDiv .cardsDiv .card img {
          display: none; }
      #titleCardDiv .cardsDiv #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg"); }
      #titleCardDiv .cardsDiv #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg"); }
      #titleCardDiv .cardsDiv #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg"); }
      #titleCardDiv .cardsDiv #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg"); }
      #titleCardDiv .cardsDiv #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg"); }
      #titleCardDiv .cardsDiv #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg"); }
      #titleCardDiv .cardsDiv #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg"); }
      #titleCardDiv .cardsDiv #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg"); }
      #titleCardDiv .cardsDiv #cardEarth,
      #titleCardDiv .cardsDiv #cardNight,
      #titleCardDiv .cardsDiv #cardSoccer,
      #titleCardDiv .cardsDiv #cardGrid,
      #titleCardDiv .cardsDiv #cardAbove,
      #titleCardDiv .cardsDiv #cardBoreails,
      #titleCardDiv .cardsDiv #cardCuriosity,
      #titleCardDiv .cardsDiv #cardFisheye {
        background-size: cover; }

  footer {
    height: 380px;
    margin-top: 10%; }
    footer .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .footerContainer #logoFooter {
        margin: 35px 0 0 0; }
      footer .footerContainer #iconContainer {
        margin-top: 33px; }
        footer .footerContainer #iconContainer a {
          margin-left: 10px;
          font-size: 18px;
          color: #fff; }
      footer .footerContainer ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px; }
        footer .footerContainer ul a {
          margin-right: 35px;
          text-align: center; }
      footer .footerContainer h4 {
        text-align: center; } }
@media (min-width: 375px) and (max-width: 425px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 40px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; }

  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1070px;
    width: 100%; }
    #titleCardDiv .cardsDiv {
      display: flex;
      flex-direction: column; }
      #titleCardDiv .cardsDiv .card {
        width: 100%;
        margin-top: 4%;
        position: static; }
        #titleCardDiv .cardsDiv .card:hover {
          transform: none; }
        #titleCardDiv .cardsDiv .card .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%; }
        #titleCardDiv .cardsDiv .card img {
          display: none; }
      #titleCardDiv .cardsDiv #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg"); }
      #titleCardDiv .cardsDiv #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg"); }
      #titleCardDiv .cardsDiv #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg"); }
      #titleCardDiv .cardsDiv #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg"); }
      #titleCardDiv .cardsDiv #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg"); }
      #titleCardDiv .cardsDiv #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg"); }
      #titleCardDiv .cardsDiv #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg"); }
      #titleCardDiv .cardsDiv #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg"); }
      #titleCardDiv .cardsDiv #cardEarth,
      #titleCardDiv .cardsDiv #cardNight,
      #titleCardDiv .cardsDiv #cardSoccer,
      #titleCardDiv .cardsDiv #cardGrid,
      #titleCardDiv .cardsDiv #cardAbove,
      #titleCardDiv .cardsDiv #cardBoreails,
      #titleCardDiv .cardsDiv #cardCuriosity,
      #titleCardDiv .cardsDiv #cardFisheye {
        background-size: cover; }

  footer {
    height: 380px;
    margin-top: 40%; }
    footer .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .footerContainer #logoFooter {
        margin: 35px 0 0 0; }
      footer .footerContainer #iconContainer {
        margin-top: 33px; }
        footer .footerContainer #iconContainer a {
          margin-left: 10px;
          font-size: 18px;
          color: #fff; }
      footer .footerContainer ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px; }
        footer .footerContainer ul a {
          margin-right: 35px;
          text-align: center; }
      footer .footerContainer h4 {
        text-align: center; } }
@media (min-width: 425px) and (max-width: 486px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 42px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; }

  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 100%; }
    #titleCardDiv .cardsDiv {
      display: flex;
      flex-direction: column; }
      #titleCardDiv .cardsDiv .card {
        width: 100%;
        margin-top: 4%;
        position: static; }
        #titleCardDiv .cardsDiv .card:hover {
          transform: none; }
        #titleCardDiv .cardsDiv .card .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%; }
        #titleCardDiv .cardsDiv .card img {
          display: none; }
      #titleCardDiv .cardsDiv #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg"); }
      #titleCardDiv .cardsDiv #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg"); }
      #titleCardDiv .cardsDiv #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg"); }
      #titleCardDiv .cardsDiv #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg"); }
      #titleCardDiv .cardsDiv #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg"); }
      #titleCardDiv .cardsDiv #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg"); }
      #titleCardDiv .cardsDiv #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg"); }
      #titleCardDiv .cardsDiv #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg"); }
      #titleCardDiv .cardsDiv #cardEarth,
      #titleCardDiv .cardsDiv #cardNight,
      #titleCardDiv .cardsDiv #cardSoccer,
      #titleCardDiv .cardsDiv #cardGrid,
      #titleCardDiv .cardsDiv #cardAbove,
      #titleCardDiv .cardsDiv #cardBoreails,
      #titleCardDiv .cardsDiv #cardCuriosity,
      #titleCardDiv .cardsDiv #cardFisheye {
        background-size: cover; }

  footer {
    height: 380px;
    margin-top: 10%; }
    footer .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .footerContainer #logoFooter {
        margin: 35px 0 0 0; }
      footer .footerContainer #iconContainer {
        margin-top: 33px; }
        footer .footerContainer #iconContainer a {
          margin-left: 10px;
          font-size: 18px;
          color: #fff; }
      footer .footerContainer ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px; }
        footer .footerContainer ul a {
          margin-right: 35px;
          text-align: center; }
      footer .footerContainer h4 {
        text-align: center; } }
@media (min-width: 486px) and (max-width: 550px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 42px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; }

  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1170px;
    width: 100%; }
    #titleCardDiv .cardsDiv {
      display: flex;
      flex-direction: column; }
      #titleCardDiv .cardsDiv .card {
        width: 100%;
        margin-top: 4%;
        position: static; }
        #titleCardDiv .cardsDiv .card:hover {
          transform: none; }
        #titleCardDiv .cardsDiv .card .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%; }
        #titleCardDiv .cardsDiv .card img {
          display: none; }
      #titleCardDiv .cardsDiv #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg"); }
      #titleCardDiv .cardsDiv #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg"); }
      #titleCardDiv .cardsDiv #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg"); }
      #titleCardDiv .cardsDiv #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg"); }
      #titleCardDiv .cardsDiv #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg"); }
      #titleCardDiv .cardsDiv #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg"); }
      #titleCardDiv .cardsDiv #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg"); }
      #titleCardDiv .cardsDiv #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg"); }
      #titleCardDiv .cardsDiv #cardEarth,
      #titleCardDiv .cardsDiv #cardNight,
      #titleCardDiv .cardsDiv #cardSoccer,
      #titleCardDiv .cardsDiv #cardGrid,
      #titleCardDiv .cardsDiv #cardAbove,
      #titleCardDiv .cardsDiv #cardBoreails,
      #titleCardDiv .cardsDiv #cardCuriosity,
      #titleCardDiv .cardsDiv #cardFisheye {
        background-size: cover; }

  footer {
    height: 380px;
    margin-top: 10%; }
    footer .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .footerContainer #logoFooter {
        margin: 35px 0 0 0; }
      footer .footerContainer #iconContainer {
        margin-top: 33px; }
        footer .footerContainer #iconContainer a {
          margin-left: 10px;
          font-size: 18px;
          color: #fff; }
      footer .footerContainer ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px; }
        footer .footerContainer ul a {
          margin-right: 35px;
          text-align: center; }
      footer .footerContainer h4 {
        text-align: center; } }
@media (min-width: 550px) and (max-width: 576px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header .btn-menu {
      display: block;
      margin-right: 20px; }
    header #menu-navegacao {
      height: 600px;
      margin-top: 2%;
      background-color: #000; }
    header ul {
      margin: 25% 0 0 5%;
      font-size: 32px;
      text-transform: uppercase; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 42px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 5% 0 0 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        text-align: center;
        margin: 3% 0 0 3%;
        color: #808080; }

  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1100px;
    width: 100%;
    margin-top: 40%; }
    #titleCardDiv .cardsDiv {
      display: flex;
      flex-direction: column; }
      #titleCardDiv .cardsDiv .card {
        width: 100%;
        margin-top: 4%;
        position: static; }
        #titleCardDiv .cardsDiv .card:hover {
          transform: none; }
        #titleCardDiv .cardsDiv .card .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%; }
        #titleCardDiv .cardsDiv .card img {
          display: none; }
      #titleCardDiv .cardsDiv #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg"); }
      #titleCardDiv .cardsDiv #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg"); }
      #titleCardDiv .cardsDiv #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg"); }
      #titleCardDiv .cardsDiv #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg"); }
      #titleCardDiv .cardsDiv #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg"); }
      #titleCardDiv .cardsDiv #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg"); }
      #titleCardDiv .cardsDiv #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg"); }
      #titleCardDiv .cardsDiv #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg"); }
      #titleCardDiv .cardsDiv #cardEarth,
      #titleCardDiv .cardsDiv #cardNight,
      #titleCardDiv .cardsDiv #cardSoccer,
      #titleCardDiv .cardsDiv #cardGrid,
      #titleCardDiv .cardsDiv #cardAbove,
      #titleCardDiv .cardsDiv #cardBoreails,
      #titleCardDiv .cardsDiv #cardCuriosity,
      #titleCardDiv .cardsDiv #cardFisheye {
        background-size: cover; }

  footer {
    height: 380px;
    margin-top: 25%; }
    footer .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .footerContainer #logoFooter {
        margin: 35px 0 0 0; }
      footer .footerContainer #iconContainer {
        margin-top: 33px; }
        footer .footerContainer #iconContainer a {
          margin-left: 10px;
          font-size: 18px;
          color: #fff; }
      footer .footerContainer ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px; }
        footer .footerContainer ul a {
          margin-right: 35px;
          text-align: center; }
      footer .footerContainer h4 {
        text-align: center; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    height: 650px;
    background-image: url("../images/mobile/image-hero.jpg");
    background-size: 100%; }
    header #logo {
      margin: 10px 0 0 10px; }
    header .btn-menu {
      display: none; }
    header #menu-navegacao {
      height: 20px;
      margin-top: 2%;
      background-color: transparent; }
    header ul {
      margin: 0 0 0 auto;
      font-size: 14px;
      text-transform: none; }
    header .nav-link {
      color: #fff; }
      header .nav-link:hover {
        color: #fff;
        transform: translateY(-10px);
        transition: 0.5s; }
    header #headerBox {
      margin: 30% 0 0 10%;
      width: 80%;
      height: 280px; }
      header #headerBox h1 {
        font-size: 42px;
        width: 10%;
        margin-top: 5%; }

  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 400px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 90%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 0; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 30px;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        margin: 3% 0 0 3%;
        color: #808080; }

  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1100px;
    width: 100%; }
    #titleCardDiv .cardsDiv {
      display: flex;
      flex-direction: column; }
      #titleCardDiv .cardsDiv .card {
        width: 100%;
        margin-top: 4%;
        position: static; }
        #titleCardDiv .cardsDiv .card:hover {
          transform: none; }
        #titleCardDiv .cardsDiv .card .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%; }
        #titleCardDiv .cardsDiv .card img {
          display: none; }
      #titleCardDiv .cardsDiv #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg"); }
      #titleCardDiv .cardsDiv #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg"); }
      #titleCardDiv .cardsDiv #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg"); }
      #titleCardDiv .cardsDiv #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg"); }
      #titleCardDiv .cardsDiv #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg"); }
      #titleCardDiv .cardsDiv #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg"); }
      #titleCardDiv .cardsDiv #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg"); }
      #titleCardDiv .cardsDiv #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg"); }
      #titleCardDiv .cardsDiv #cardEarth,
      #titleCardDiv .cardsDiv #cardNight,
      #titleCardDiv .cardsDiv #cardSoccer,
      #titleCardDiv .cardsDiv #cardGrid,
      #titleCardDiv .cardsDiv #cardAbove,
      #titleCardDiv .cardsDiv #cardBoreails,
      #titleCardDiv .cardsDiv #cardCuriosity,
      #titleCardDiv .cardsDiv #cardFisheye {
        background-size: cover; }

  footer {
    height: 380px;
    margin-top: 20%; }
    footer .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .footerContainer #logoFooter {
        margin: 35px 0 0 0; }
      footer .footerContainer #iconContainer {
        margin-top: 33px; }
        footer .footerContainer #iconContainer a {
          margin-left: 10px;
          font-size: 18px;
          color: #fff; }
      footer .footerContainer ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px; }
        footer .footerContainer ul a {
          margin-right: 35px;
          text-align: center; }
      footer .footerContainer h4 {
        text-align: center; } }
@media (min-width: 767.98px) and (max-width: 991.98px) {
  #imgTextContainer {
    display: flex;
    margin-top: 0;
    height: 400px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 0 0 0 3%; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 35px;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        margin: 3% 0 0 3%;
        color: #808080; }

  #titleCardDiv {
    display: flex;
    flex-direction: column;
    height: 1100px;
    width: 100%; }
    #titleCardDiv .cardsDiv {
      display: flex;
      flex-direction: column; }
      #titleCardDiv .cardsDiv .card {
        width: 100%;
        margin-top: 4%;
        position: static; }
        #titleCardDiv .cardsDiv .card:hover {
          transform: none; }
        #titleCardDiv .cardsDiv .card .cardTitle {
          font-size: 17px;
          font-weight: bold;
          position: static;
          margin: 75px 0 0 5%; }
        #titleCardDiv .cardsDiv .card img {
          display: none; }
      #titleCardDiv .cardsDiv #cardEarth {
        background-image: url("../images/mobile/image-deep-earth.jpg"); }
      #titleCardDiv .cardsDiv #cardNight {
        background-image: url("../images/mobile/image-night-arcade.jpg"); }
      #titleCardDiv .cardsDiv #cardSoccer {
        background-image: url("../images/mobile/image-soccer-team.jpg"); }
      #titleCardDiv .cardsDiv #cardGrid {
        background-image: url("../images/mobile/image-grid.jpg"); }
      #titleCardDiv .cardsDiv #cardAbove {
        background-image: url("../images/mobile/image-from-above.jpg"); }
      #titleCardDiv .cardsDiv #cardBoreails {
        background-image: url("../images/mobile/image-pocket-borealis.jpg"); }
      #titleCardDiv .cardsDiv #cardCuriosity {
        background-image: url("../images/mobile/image-curiosity.jpg"); }
      #titleCardDiv .cardsDiv #cardFisheye {
        background-image: url("../images/mobile/image-fisheye.jpg"); }
      #titleCardDiv .cardsDiv #cardEarth,
      #titleCardDiv .cardsDiv #cardNight,
      #titleCardDiv .cardsDiv #cardSoccer,
      #titleCardDiv .cardsDiv #cardGrid,
      #titleCardDiv .cardsDiv #cardAbove,
      #titleCardDiv .cardsDiv #cardBoreails,
      #titleCardDiv .cardsDiv #cardCuriosity,
      #titleCardDiv .cardsDiv #cardFisheye {
        background-size: cover; }

  footer {
    margin-top: 20%; } }
@media (min-width: 991.98px) and (max-width: 1200px) {
  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 400px; }
    #imgTextContainer #imgDiv {
      position: static; }
      #imgTextContainer #imgDiv img {
        width: 100%; }
    #imgTextContainer #titleDiv {
      position: static;
      width: 100%;
      margin: 0 0 0 3%; }
      #imgTextContainer #titleDiv h2 {
        text-transform: uppercase;
        font-size: 35px;
        margin: 10% 0 0 2%; }
      #imgTextContainer #titleDiv p {
        margin: 3% 0 0 3%;
        color: #808080; }

  .cardsDiv {
    height: 480px; }
    .cardsDiv .card {
      height: 400px; }
      .cardsDiv .card:hover {
        transform: translateY(-12px); }
      .cardsDiv .card .cardTitle {
        font-size: 25px;
        margin: 295px 0 0 5%; } }
@media (min-width: 1200px) and (max-width: 1439px) {
  #imgTextContainer {
    display: flex;
    margin-top: 5%;
    height: 600px; }
    #imgTextContainer #imgDiv img {
      width: 700px; }
    #imgTextContainer #titleDiv {
      width: 550px;
      background-color: #fff;
      margin: 12% 0 0 41%; }

  .cardsDiv {
    height: 570px; }
    .cardsDiv .card {
      height: 480px; }
      .cardsDiv .card:hover {
        transform: translateY(-13px); }
      .cardsDiv .card .cardTitle {
        font-size: 32px;
        margin: 335px 0 0 5%; } }

/*# sourceMappingURL=style.css.map */
